<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.eclipse.ui.importWizards">
    <wizard
        category="ivy"
        class="com.axonivy.portal.express.importer.ExpressImportWizard"
        icon="platform:/plugin/ch.ivyteam.ivy.designer.process.ui/icons/process.gif"
        id="designer.process.ui.bpm.import"
        name="Ivy Express workflow (.json)">
    </wizard>
  </extension>
</plugin>
